<p id="notice"><%= notice %></p>

<%= image_tag @job.avatar_url %>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @job.skills %>
</p>

<p>
  <strong>Price:</strong>
  <%= @job.price %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @job.rate %>
</p>

<%= link_to 'Edit', edit_job_path(@job), class: "btn btn-link" %> |
<%= link_to 'Back', jobs_path, class: "btn btn-link" %>
